* {margin: 0;
   padding: 0;
   outline: none;
   }
   
body{font-size: 13px;
     font-family: Arial, sans-serif;
     background: #FBFBFB;
     }
   
#content{
         }
         
#header{height: 45px;
        border-bottom: 1px solid #70909D;
        }
        
#header img{height: 35px;
            width: 100px;
            float: right;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 10px;
            }
           
#corpo{height: 490px;
       width: 100%;
       }
       
#corpo form{width: 312px;
            top: 50%;
            left: 50%;
            margin-top: -131px;
            margin-left: -156px;
            border: solid thick #9EB4BC;
            border-width: 1px;
            border-radius: 1em;
            box-shadow: 2px 2px 2px 2px #efefef;
            position: absolute;
            font-family: sans-serif;
            font-variant: historical-forms;
            font-size: 16px;
            text-align: left;
            color: #777777;
            padding-bottom: 10px;
            }
         
            
#form_content{margin: 19px 0px 0px 19px;
              display: block;
              text-align: left;
              }

#form_content div{margin:40px 0 5px 0;
                  text-align: center;
                  }

#form_content div a{text-decoration: none;
                    outline: none;
                    font-size: 13px;
                    color: #9EB4BC; 
                    }      

#form_content div a:hover{text-decoration: underline;
                          }
                          
#form_content h1{font: 15px Arial, Helvetica, sans-serif;
                 font-weight: bold;
                 color: #fff;
                 display: block;
                 width: 263px;
                 padding: 5px;
                 background: #006699;
                 border: 1px solid #cccccc;
                 border-bottom: none;
                 }
                 
#form_content .msg{font: 13px Arial, Helveltica, sans-serif;
                   display: block;
                   width: 263px;
                   padding: 5px;
                   text-align: justify;
                   background: #f4f4f4;
                   border-bottom-right-radius: 10px;
                   border-bottom-left-radius: 10px;
                   border: 1px solid #cccccc;
                   margin: 0 0 5px 0;
                   }
                   
#form_content .voltar{text-decoration: none;
                      text-align: center;
                      outline: none;
                      font-size: 14px;
                      color: #9EB4BC;
                      margin: 0 0 0 100px;
                      }
                      
#form_content .voltar:hover{text-decoration: underline;
                            }                      
            
.tf{height: 36px;
    width: 270px; 
    background: #FBFBFB;
    border: 1px solid #E5E5E5;
    margin: 4px 0px 13px 0px;
    font-size: 28px;
    color: #999999;
    }
    
.tf:focus{box-shadow: 2px 1px 2px 1px #E5E5E5;
          outline: none;
          }

#btn_entrar{height: 30px;
            width: 70px;
            background: #70909D;
            float: right;
            margin-right: 20px;
            color: #FFF;            
            border-radius: 5px;
            text-shadow: none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            display: inline-block;
            border: 1px solid #5A7885;
            cursor: pointer;
            }
            
#btn_entrar:hover, #btn_entrar:focus{background: #4E6772;
                  border: 2px solid #5A7885;
                  box-shadow: 2px 2px 2px 2px #E5E5E5;
                  }
                  
/*Estilizando alertas de erro e afins*/

#form_content .error{display: block;
                     width: 260px;
                     padding: 5px;
                     background: #ffa6a6;
                     margin: 6px 0 10px 0;
                     font: 14px Arial, Helvetica, sans-serif;
                     color: #930;
                     float: left;
                     border: 1px solid #cccccc;
                     text-align: left;
                     font-size: 11px;
                     }
                     
#form_content .alertas{display: block;
                       width: 260px;
                       padding: 5px;
                       background: #ffff66;
                       margin: 10px 0 0 0;
                       font: 11px Arial, Helvetica, sans-serif;
                       color: #930;
                       float: left;
                       border: 1px solid #cccccc;
                       font-size: 11px;
                       }
                       
#form_log .envie{display: block;
                 float: left;
                 background: #006699;
                 border: 1px solid #cccccc;
                 font: 11px Arial, Helvetica, sans-serif;
                 color: #fff;
                 width: 260px;
                 padding: 5px;
                 margin: 10px 0 10px 19px;
                 text-align: center;
                 }                       
       
#footer{height: 100px;
        background: #70909D;
        border: 1px solid #5A7885;
        text-align: center;
        text-shadow: 1px 1px #333333;
        font-weight: bold;
        color: white;
        position: absolute;
        bottom: 0;
        width: 99.76%;
       }

#footer p{text-align: center;
          display: block;
          width: 570px;
          margin: 43px auto;
          }

          
